   *{
    	margin: 0;
    	padding: 0;
    }
    body{
    	background: lightsteelblue;
    }
    .font-size1{
    	font-size: 21px;
    	font-weight: 700;
    }
    .bah-clr{
    	background: white;
    	border-radius: 8px;
    }
    #booking-show{
    	cursor: pointer;
    	color: lightgrey;
    }
    #booking-show:hover{
    	color: #D6111E;
    }
    #inform-show{
    	cursor: pointer;
    }
    #inform-show:hover{
    	color: #D6111E;
    }

/*    booking form css*/
/*    <!-- pick-up location conatainer css -->*/
    .cross{
    	border-left: 1px solid gray;
    	font-size: 16px;
    	cursor: pointer;
    }
    .cross:hover{
    	color: #D6111E;
    }

    .font-size2{
    	font-size: 17px;
    	font-weight: 700;
    }
    .bah-border{
    	background: lightgrey;
    	border-radius: 5px 0 0 5px;
    }
    .link-styl{
    	color: black;
    }
    .link-styl:hover{
        color: #D6111E;
    }

/*    order summary css*/
    .font-size3{
    	font-size: 20px;
    	font-weight: 700;
    }
    .subm-butn{
    	border: none;
        background: #D6111E;
        border-radius: 6px;
        color: white;
        padding: 10px;
    }
    .subm-butn:hover{
    	background: red;
    }
    .bah-hover{
    	border-radius: 5px;
    	border: 1px solid lightgrey;
        padding: 2px;
        cursor: pointer;
    }
    .bah-hover:hover{
    	border: 1px solid #D6111E;
    	color: #D6111E;
    }

/*    information form css*/
    .see-all{
    	border: 1px solid black;
        border-radius: 5px;
        padding: 0px 5px 1px 5px;
        cursor: pointer;
    }
    .see-all:hover{
    	border: 1px solid #D6111E;
    	color: #D6111E;
    }
    .font-size4{
    	font-weight: 500;
    	color: #050507;
    }
    .car-img-adjust{
    	height: auto;
    	max-width: 340px;
    }

    .text-hover:hover{
    	color: #D6111E;
    }

    @media only screen and (min-width: 992px) {
      .bah-width {
        width: 65.666667%;
        margin-right: 8px;
      }
    }
    @media only screen and (max-width: 992px) {
      .cont-width {
      	max-width: 100%;
      }
    } 
    @media only screen and (min-width: 992px) {
      #car-img-hide1 {
      	display: none;
      }
    } 
    @media only screen and (max-width: 992px) {
      #car-img-hide2 {
      	display: none;
      }
    }
     @media only screen and (max-width: 992px) {
      #pad-adjust {
      	padding: 0 !important;
      }
    }